.carousel-container {
  overflow: hidden;
  position: relative;
  height: 20%;
  width: 100%;
  /* border: 5px solid green; */
  margin-top: 20px;
}

.carousel-card {
  border: 2px solid var(--secondary-colour);
  border-radius: 20px;
  padding: 20px;
}

.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 200%;
  gap: 16px;
  animation: slide 30s linear infinite;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
