.hero-section {
  height: 100vh;
  min-height: 650px;
  max-height: 850px;
}

.personal-info {
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  height: 60%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile-image-container {
  border: 2px solid blue;

  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
}

.profile-details {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
