a[href='#technologies'] {
  width: 100%;
  padding: 0;
}

.tech-list-parade {
  border: 2px solid green;
  display: flex;
  align-items: center;

  width: 100%;
  padding: 5px;
}

.tech-item {
  border: 2px solid red;
  margin: 5px;
  padding: 20px;
}
