.projects-section {
  width: 100%;
  margin-top: 150px;
}

.project-n {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 0px var(--cool-blue);
  border-radius: 20px;
  margin: 50px 0px;
  padding: 20px;
  min-height: 450px;
}

.image-link {
  width: 100%;
}

.project-image {
  width: 100%;
  display: flex;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}

.project-name {
  font-size: 1.5rem;
  margin: 10px 0px;
}

.project-summary {
  font-size: 1.2rem;
  margin: 20px 0px;
}

.responsibilities {
  list-style: none;
}

.seeRepo {
  font-size: 1.2rem;
  padding: 10px;
  background-color: var(--cool-blue);
  border-radius: 50px;
}

.seeRepo:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 4px var(--cool-blue);
}

.project-tech {
  display: flex;
  list-style: none;
  margin-top: 20px;
  flex-wrap: wrap;
}

.project-tech li {
  margin: 5px;
  font-size: 1rem;
  border: 1px solid var(--cool-blue);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

.project-tech li:hover {
  cursor: default;
  box-shadow: 0px 0px 20px 4px var(--cool-blue);
}

@media screen and (min-width: 720px) {
  .project-n {
    flex-direction: row;
    margin: 50px 20px;
  }

  .image-link {
    width: 50%;
    max-width: 600px;
  }

  .project-image {
    object-fit: cover;
  }

  .project-info {
    width: 50%;
    margin-left: 25px;
  }
}
