*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: rgb(2, 17, 46);
  height: 100vh;
}

main {
  border: 2px solid rgba(255, 0, 0, 0.171);
  background-color: rgba(255, 0, 0, 0.171);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}

nav {
  border: 1px solid rgba(255, 0, 0, 0.171);
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.top-section {
  border: 2px solid rgba(0, 128, 0, 0.171);
  background-color: rgba(0, 128, 0, 0.171);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0px 20px 0px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 25px 0px;
}

h1 {
  /* border: 2px solid red; */
  margin-bottom: 10px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin: auto;
  text-align: center;
}

.profile-summary {
  margin-bottom: 10px;
  padding: 15px;
  text-align: justify;
  width: 100%;
  /* letter-spacing: 0.2rem; */
  /* word-spacing: 0.5rem; */
}

.tech-stack {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  /* border: 2px solid red; */
  padding: 5px;
  border-radius: 2px;
}

.projects-section {
  /* border: 2px solid blue; */
  margin-top: 10px;
}

.project-n {
  border: 2px solid rgba(255, 0, 0, 0.171);
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.171);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 25px;
  padding: 20px;
  width: 100%;
  min-height: 350px;
}

.image {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  /* max-height: 290px; */
}

.project-image {
  /* border: 2px solid red; */
  height: 290px;
  width: 100%;
  border-radius: 5px;
}

.image:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.project-info {
  /* border: 2px solid rgba(255, 0, 0, 0.171); */
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  width: 100%;
}

.project-name {
  /* border: 2px solid red; */
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  font-size: 1.5rem;
}

.project-summary {
  /* border: 2px solid red; */
  height: fit-content;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.tech-stack,
.project-tech {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.tech-stack li,
.project-tech li {
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.171);
  text-align: center;
}

.responsibilities li {
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

.seeRepo {
  background-color: #007bff;
  padding: 5px;
}

.seeRepo:hover {
  transform: scale(12);
}

.contactInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.contactInfo h3 {
  margin-bottom: 15px;
}

@media screen and (min-width: 950px) {
  .profile-summary {
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
  }
  .top-section,
  .projects-section,
  nav,
  .contactInfo {
    width: 90%;
    max-width: 850px;
  }
  .profile-summary {
    text-align: center;
    width: 90%;
  }
  .project-n {
    /* background-color: blue; */
    flex-direction: row;
    justify-content: space-between;
  }
  .project-image {
    /* border: 2px solid red; */
    /* width: 30%; */
    /* height: 30%; */
    /* margin-right: 15px; */
  }
  /* .project-info {
    width: 450px;
  } */
  .contactInfo {
    flex-direction: row;
    justify-content: space-between;
  }
}
