.tech-section {
  /* border: 2px solid; */
  width: 100%;

  margin-top: 20px;
  margin-bottom: 50px;
}

.tech-list {
  /* border: 2px solid; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  margin-top: 20px;
}

.tech-list li {
  box-shadow: 0px 0px 15px -6px var(--cool-blue);
  width: 150px;
  height: 150px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
}

.tech-list li :hover {
  cursor: pointer;
  font-size: large;
}
