.projects-section {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  height: fit-content;
}

.projects-container {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 350px;
  max-width: 450px;
}

.project-card {
  position: relative;
  /* border: 1px solid var(--secondary-colour); */
  border-radius: 25px;
  height: 450px;
  margin: 30px 0px;
  background-color: var(--primary-colour);
}

.project-image-container {
  height: 65%;
  margin-bottom: 20px;
}

.project-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.project-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  /* box-shadow: 0px 0px 7px 1px var(--secondary-colour); */
}

.project-card h2 {
  margin: 0px auto;
  width: fit-content;
}

.project-information-container {
  /* border: 2px solid red; */
  padding: 15px;
  height: 40%;
}

.project-links {
  /* border: 2px solid red; */
  display: flex;
  margin-top: 20px;
}

.project-links a {
  border: 2px solid;
  border-radius: 25px;
  margin-right: 15px;
}

.wavy-border-1,
.wavy-border-2,
.wavy-border-3 {
  position: absolute;
  width: 100%;
  height: 105%;
  left: 0;
  top: 0;
  border: 2px solid;
  animation: rotate-wave 8s linear infinite;
  border-radius: 37%;
  scale: 0.97;
  border: 1px solid var(--secondary-colour);
  box-shadow: 0px 0px 7px 1px var(--secondary-colour);
  z-index: -999;
}

.wavy-border-2 {
  animation: rotate-wave-2 10s linear infinite;
  border-radius: 45%;
  scale: 0.95;
}

.wavy-border-3 {
  animation: rotate-wave 4s linear infinite;
  border-radius: 40%;
  scale: 0.92;
}

@keyframes rotate-wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-wave-2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.project-status-green,
.project-status-yellow {
  position: absolute;
  right: 0;
  background-color: green;
  border-radius: 0px 25px 0px 0px;
  padding: 5px 10px;
}

.project-status-yellow {
  background-color: #b09c05;
}

@media screen and (min-width: 767px) {
  .projects-container {
    max-width: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1650px;
  }
  .project-card {
    margin: 20px;
    width: 450px;
  }
}
