.about-section {
  display: flex;
  height: 100vh;
  min-height: 650px;
  max-height: 850px;
  /* border: 2px solid red; */
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  border: 2px solid var(--secondary-colour);
  border-radius: 20px;
  height: fit-content;
  min-height: 450px;
  width: 90%;

  margin: auto;
  padding: 40px 10px;

  box-shadow: 0px 0px 7px 1px var(--secondary-colour);
}

.about-text-container p {
  text-align: justify;
  line-height: 2rem;
  word-spacing: 0.2rem;
}

.about-link {
  display: inline;
  border: none;
  box-shadow: none;
  padding: 2px 5px;
  text-decoration: underline;
  margin-left: 2px;
}

@media screen and (min-width: 767px) {
  /* .about-section {
    height: 100vh;
  } */

  /* .about-image-container {
    border: 2px solid yellow;
    width: 50%;
  } */
  .about-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    /* border: 2px solid blue; */
    height: 50%;
    width: 60%;
    max-width: 650px;
    padding: 50px;
  }
}
