@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  @apply text-secondary-colour absolute rounded-full justify-center items-center bg-black  shadow-[0px_0px_40px_2px_#a0c9f8] cursor-default;
}

@layer utilities {
  .content-container {
    @apply size-[500px];
  }

  @screen sm {
    .content-container {
      @apply size-[700px];
    }
  }
  @screen md {
    .content-container {
      @apply size-[1000px];
    }
  }
}

.content {
  @apply bg-black min-w-[300px] w-[60%]  sm:w-[65%] md:p-10 relative sm:h-[60%]  flex justify-center items-center cursor-default;
}
.content-p {
  @apply bg-black relative rounded-full h-full w-full overflow-hidden cursor-default;
}

.emanate {
  @apply absolute m-auto rounded-full flex justify-center items-center 
   size-[700px] md:size-[1000px]  cursor-none;
  background: radial-gradient(
    circle,
    rgba(66, 165, 245, 0.3) 20%,
    rgba(0, 0, 0, 0) 70%
  );
  animation: gentleGlow 2s infinite ease-in-out;
  opacity: 0.5;
}

/* Keyframes for gentle glowing effect */
@keyframes gentleGlow {
  0% {
    transform: scale(1.7);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.7);
    opacity: 0.4;
  }
}

h1 {
  @apply text-[30px] sm:text-[50px] md:text-[80px] text-center px-48 font-extrabold uppercase;
}

h2 {
  @apply text-[18px] sm:text-[30px] md:text-[50px] text-center font-semibold uppercase;
}
p {
  @apply sm:text-lg text-justify;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

.project-image {
  @apply h-full w-full object-cover object-center rounded-full hover:scale-110;
}

.nav-circle {
  @apply text-2xl absolute p-6 rounded-full size-[100px] bg-secondary-colour flex  items-center justify-center  cursor-pointer;
}
